coremltools==2.1.0

# The food-101 example is only compatible with Keras 1.1.2 / Tensorflow 1.0.1
#keras==2.2.4
#tensorflow==1.12.0
keras==1.2.2
tensorflow==1.0.1

# Jupyter noteboot
jupyter
h5py

# Progress bar
Progressbar

# To test converted models, we would like to download images and use
# them to to feed into the model
requests
Pillow==5.0.0
